# Variable Assignment

In [3]:
x=5 # this is an integer

In [2]:
x

5

# Hello this is markdown
## This is Header 2
### This is Header 3

**bold text**

*Italic Text*

This  is how you bullet

* Hello
* Hi

This is how you number

1. Hi
2. Hello

**Integer**

In [4]:
type(x)

int

**Float**

In [11]:
y = 5.0
print(type(y))
y

<class 'float'>

5.0

**String**

In [12]:
z = "Goodbye Hello"
z = 'Goodbye Hello'
z = """Multiline Quote 
f
f
f
f
f
f """
z

'Multiline Quote \nf\nf\nf\nf\nf\nf '

In [13]:
quote = '"I think therefore i am" - rene decartes'
quote

'"I think therefore i am" - rene decartes'

In [15]:
quote = "\" backslash is used to avoid the use\""
quote

'" backslash is used to avoid the use"'

In [18]:
backslash = " in order to print the backslash \\"
backslash

' in order to print the backslash \\'

In [19]:
print(backslash) # The print function removes the backslash , better than the variable taken directly

 in order to print the backslash \

In [20]:
quote = "\" backslash is used \n to avoid the use\""
quote

'" backslash is used \n to avoid the use"'

In [23]:
quote = "\" backslash is used \n to avoid the use\"" # using print makes a big difference
print(quote)

" backslash is used
 to avoid the use"

In [37]:
long_string = "long_string_here_it_is" #It includes everything from the 11 th index onwards
long_string[11:] #slicing or indexing

'_here_it_is'

In [35]:
long_string = "long_string_here_it_is" #python follows zero indexing i.e 0123..
long_string[:11] #slicing or indexing

'long_string'

In [40]:
long_string = "long_string_here_it_is" 
long_string[5:11] #slicing or indexing

'string'

**Boolean**

In [41]:
a=1
b=2
a==b # a is equivalennt to  b

False

In [42]:
boolean = True
another_boolean = False
not_a_boolean = "True"

**Non-primitive data tupes**

In [44]:
a_list = [1 ,2,3,4,5]
a_list

[1, 2, 3, 4, 5]

In [45]:
b_list = [1 , 2, 3,4 , "string"]
b_list

[1, 2, 3, 4, 'string']

In [47]:
b_list[3] # one less is returned because python uses the zero based indexing

4

In [49]:
b_list[2:4] # such arrangement includes the first value but exclude the last value

[3, 4]

In [51]:
b_list[-1] # if this is negative , it starts to count back (-0 cannot be used thus this does not follow zero  based indexing)

'string'

In [53]:
b_list[::-1] # to reverse the list

['string', 4, 3, 2, 1]

In [58]:
b_list[::2] # counts every 2nd value 0 2 4 index values

[1, 3, 'string']

In [60]:
a_tuple = (1,2,3,4,5) # tuples arejust like lists BUT unlike lists they cannot be modified ( used as outputs in python , but very rarely used)
a_tuple

(1, 2, 3, 4, 5)

In [64]:
dictionary = {"key":"value" , "dictionary":"value"} #dictionary

{'key': 'value', 'dictionary': 'value'}

In [66]:
dictionary["key"] # you can search value from the dictionary

'value'

In [71]:
dictionary.get("key")

'value'

**Arthematic operations**

In [74]:
h = 2 + 2
h

4

In [76]:
add_list = [ 1,2,3,4] + [1,2,3] # it just sticks the two lists together
add_list

[1, 2, 3, 4, 1, 2, 3]

In [77]:
Mult = 3*2
Mult

6

In [80]:
Mult = "string,"*3
Mult

'string,string,string,'

In [83]:
Mult_list = [1,2,3,4]*3 # Multiplication is basically repeated addition in simple terms
Mult_list

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [85]:
div=2/2 # remember that division creates floats
div

1.0

In [86]:
modulo = 10%3 # modulo means reminder left after division
modulo

1

In [90]:
t = 125435438029850329758394758930700%7
t

0

In [91]:
floor_division = 7//2 # floor divion gives the  maximum multiple 
floor_division

3

**Assignment operators**

x +=3 means x = x+3 

x -=4 means x = x-4

x *=3 means x = x*3

x/=3  means x = x/3

Etc etc ( Basically used to save space)

**Comparison Operator**

In [95]:
print(3==3) #  equivalent to

print(3!=4)  # does not equal to 

print(3>4)

print (3<5)

print(2>=2)

print(4<=4)

True
True
False
True
True
True

**Bitwise operator** ( little advanced , so learn them later)

**Logical operator**

In [98]:
print(not(3>5)) # returns the opposite value
print(3==3 and 3==4) # returns true only if both is true
print(3>4 or 4>3) # returns true even if one is true

True
False
True

**Membership operations**

In [100]:
"T" in "TIGDHBDSIBBDS"

True

In [101]:
"1" not in "TEITEWFWEG"

True

In [103]:
int(5.0) # WRAPPING

5

In [104]:
float(21)

21.0

**Function**

In [122]:
def our_function(x, y, z):  # function should be in this format only , otherwise it would not run ( i.e spacing before return) INDENTATION IS VERY IMPORTANT IN PYTHON
    return x + y + z*2

In [123]:
our_function(1 ,2 ,3) # things inside the function are called arguments

9

In [124]:
our_function(x=1 , z=2 ,y =3) # by default it takes the same order , you can define order yourself as well

8

# numpy miniconda library

In [11]:
import numpy as np

In [12]:
np.array([1,2,4])

array([1, 2, 4])

**control statements**

In [126]:
the_list = list(range(3,100))
print(the_list)

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [129]:
the_list = range(3,10)

for i in the_list:
    i +=1 #same as i = i + 1
    print(i)

4
5
6
7
8
9
10

In [5]:
the_list = range(3,6)

for i in the_list:
    print("i is now" , i)
    i +=1 #same as i = i + 1
    print("output is " , i)
print("loop has ended")

i is now 3
output is  4
i is now 4
output is  5
i is now 5
output is  6
loop has ended

In [6]:
the_list = range(3,6)

for i in the_list:
    print("i is now" , i)
    i +=1 #same as i = i + 1
    print("output is " , i) # indentation change makes a big difference
    print("loop has ended")

i is now 3
output is  4
loop has ended
i is now 4
output is  5
loop has ended
i is now 5
output is  6
loop has ended

In [7]:
x = 0
while x <5:
    x += 1
    print(x)

1
2
3
4
5

In [8]:
x = 3
y = 5

if x == y:
    print("x equals y")
elif x>y:
    print("x greater than y")
else:
    print("x is less than y")

x is less than y

In [9]:
try:
    2/0 # you can't divide by 0 and this will throw an exception
except ZeroDivisionError:
    print("Can't divide by 0")

Can't divide by 0

In [26]:
 a ={1,2,3}
 a

{1, 2, 3}

In [19]:
b = {2,2,4,5}
b

{2, 4, 5}

In [28]:
print(a^b)

{1, 3, 4, 5}